.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    width: 50%;
    box-shadow: 8px 13px 20px #27FF71;
}

.login-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#username {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#password {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.login-btn {
    padding: 10px;
    border: none;
    background-color: #27FF71;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.right-side {
    flex: 1;
    background: url(./assets/images/social-media-image.jpg);
        background-size: cover;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end
        
}
    p {
    text-align: center;
        font-size: 17px;
        font-weight: 700;
        color: white
    }
    
.register-here-btn {
    padding: 10px;
        cursor: pointer;
        margin: 30px;
    background-color: #27FF71;
        text-decoration: none;
    text-align: center;
    color: white;
        font-weight: bold;
}