.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container {
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    height: 400px;
    width: 50%;
    box-shadow: 8px 13px 20px #938eef;
}

.register-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

#username {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#password {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#email {
    border: none;
    border-bottom: 1px solid black;
    padding: 20px 10px;
    margin-bottom: 10px;
}

.register-btn {
    padding: 10px;
    border: none;
    background-color: #938eef;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.left-side {
    flex: 1;
    background: url("../../assets/images/pexels-pixabay-289586.jpg");
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

p {
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: white
}

.login-here-btn {
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 30px;
    background-color: #938eef;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
